@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
/* Include the official typography plugin for rich text formatting */
@plugin "@tailwindcss/typography";

/* Configure DaisyUI themes */
@plugin "daisyui" {
  themes: emerald --default, forest --prefersdark, emerald --preferslight;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}